@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,400&family=Poppins:wght@600&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5fd505fa-f425-4a18-b3cc-00dd2638f541/d638b1fe-b44f-4cb3-b5d8-2106904c3be0/IN-en-20220704-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    font-family: "Poppins", sans-serif;
}

.bg {
    background: rgba(0, 0, 0, .5);
    background-image: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, .7)), radial-gradient(50% 100%, transparent 0, rgba(0, 0, 0, .7) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 400px;
    color: #db0510;
    margin: 60px 0 30px 0;
}

h1+div {
    text-align: center;
}

input {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px 0px;
}

input:focus {
    outline: none;
}

button {
    border: none;
    border-radius: 11px;
    height: 35px;
    width: 80px;
    background-color: #e50914;
    font-weight: 600;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #db0510;
}


/* Basically its works as a container */

#appendData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

#movie-div {
    background-color: rgba(96, 96, 96, 0.489);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    backdrop-filter: blur(1px);
    padding: 20px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border-radius: 10px;
}

h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    color: #e50914;
}

span {
    font-size: 16px;
    margin-left: 10px;
    color: beige;
}

span_rating {
    font-size: 18px;
    margin-left: 10px;
    color: #fff200;
}

p {
    color: white;
    max-width: 80%;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 0.9px;
    margin-left: 10px;
}

#movie-info {
    margin-bottom: 30px;
}

h6 {
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: -15px;
    margin-left: 10px;
    word-spacing: 1px;
    letter-spacing: 0.9px;
}

#movie-info span:nth-of-type(5) {
    font-size: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 50px;
}

#not_found {
    display: none;
    text-align: center;
    margin-top: 100px;
}

#not_found>img {
    width: 400px;
    border-radius: 50%;
}

@media screen and (min-width: 380px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5fd505fa-f425-4a18-b3cc-00dd2638f541/d638b1fe-b44f-4cb3-b5d8-2106904c3be0/IN-en-20220704-popsignuptwoweeks-perspective_alpha_website_large.jpg);
        font-family: "Poppins", sans-serif;
    }
    .bg {
        background: rgba(0, 0, 0, .5);
        background-image: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, .7)), radial-gradient(50% 100%, transparent 0, rgba(0, 0, 0, .7) 100%);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 400px;
        color: #db0510;
        margin: 60px 0 30px 0;
    }
    h1+div {
        text-align: center;
    }
    input {
        width: 250px;
        height: 35px;
        border: none;
        border-radius: 5px;
        padding: 0px 10px 0px;
    }
    input:focus {
        outline: none;
    }
    button {
        border: none;
        border-radius: 11px;
        height: 35px;
        width: 80px;
        background-color: #e50914;
        font-weight: 600;
        margin-left: 20px;
        color: white;
        cursor: pointer;
    }
    button:hover {
        background: #db0510;
    }
    /* Basically its works as a container */
    #appendData {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;
    }
    #movie-div {
        background-color: rgba(96, 96, 96, 0.489);
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        backdrop-filter: blur(1px);
        padding: 20px;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        border-radius: 10px;
    }
    h3 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
        color: #e50914;
    }
    span {
        font-size: 16px;
        margin-left: 10px;
        color: beige;
    }
    span_rating {
        font-size: 18px;
        margin-left: 10px;
        color: #fff200;
    }
    p {
        color: white;
        max-width: 80%;
        font-size: 15px;
        word-spacing: 1px;
        letter-spacing: 0.9px;
        margin-left: 10px;
    }
    #movie-info {
        margin-bottom: 30px;
    }
    h6 {
        color: whitesmoke;
        font-size: 16px;
        margin-bottom: -15px;
        margin-left: 10px;
        word-spacing: 1px;
        letter-spacing: 0.9px;
    }
    #movie-info span:nth-of-type(5) {
        font-size: 10px;
        background-color: black;
        padding: 5px;
        border-radius: 50px;
    }
    #not_found {
        display: none;
        text-align: center;
        margin-top: 100px;
    }
    #not_found>img {
        width: 400px;
        border-radius: 50%;
    }
}